<%- include("partials/header")-%>

<h1>Home</h1>
<p><%= homeStart %></p>

<%  posts.forEach(function(arrayItem) { %>

    <h1><%= arrayItem.inputTitle; %></h1>
    <p><%= arrayItem.inputPost.substring(0,100) + "..."; %></p>

<% }); %>

<%- include("partials/footer")-%>